@font-face {
  font-family: "Lexend";
  src: url('../../medias/typos/Lexend-Regular.ttf');
}

* {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  color: white;
}

#game {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #110116;
}

#videoDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

video {
  height: 100vh; /* 100% de la hauteur de la fenêtre */
  object-fit: cover; /* pour couvrir tout l'espace de la balise video */
}

#baguette {
  margin-top: 5%;
  margin-bottom: 5%;
  position: absolute;
  height: 90%;
  z-index: 1;
}

#pageChooseName {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #050001;
}

#logoDiv {
  height: 16%;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-left: 20%;
  padding-right: 20%;
  z-index: 2;
}

#logo {
  width: 100%;
}

.sorcier {
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
}

.imgSorcier {
  height: 100%;
}

#formDiv {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
}

#form {
  margin-top: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputName {
  border-radius: 71px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  border: none;
}

.inputName::placeholder {
  font-size: 16px;
}

.inputName:focus {
  outline: none;
}

.confirmName {
  border-radius: 71px;
  padding: 0px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  height: 45px;
  border: none;
  font-size: 24px;
  display: inline-block;
  width: 100%;
}

.player1 {
  background-color: #FF2E50;
  color: #FFCCDC;
}

.player1input {
  background-color: #FFEAED;
}

.player1input::placeholder {
  color: #370911;
  font-size: 14px;
  font-family: "Lexend";
  font-weight: 400;
}

.player2 {
  background-color: #645CE6;
  color: #E3E1FB;
}

.player2input {
  background-color: #FFEAED;
  font-size: 14px;
  font-family: "Lexend";
  font-weight: 400;
}

.player2input::placeholder {
  color: #0E0C2C;
}

.ellipse {
  position: absolute;
  width: 100%;
  height: max-content;
  bottom: 0;
  z-index: 0;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  padding-left: 20vw;
  padding-right: 20vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#icon {
  width: 100%;
}

#win_loose {
  text-align: center;
}

.buttonHide {
  height: 60px; 
  width: 60px; 
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 45%;
  z-index: 10;
}

.buttons {
  display: none;
}