@keyframes fadeOutAnimation {
    from {
        opacity: 100%;
    }
  
    to {
      opacity: 0%;
    }
  }

@keyframes screenInAnimationLeft {
    from {
        opacity: 0;
        transform: translateX(-500%);
    }
  
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes screenInAnimationRight {
    from {
        opacity: 0;
        transform: translateX(500%);
    }
  
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes screenOutAnimation{
    from {
        opacity: 100%;
        transform: scale(100%);
    }
  
    to {
        opacity: 0%;
        transform: scale(0%);
    }
}

@keyframes spawn{
  from {
    opacity: 0%;
    transform: scale(0%);
}

to {
    opacity: 40%;
    transform: scale(100%);
}
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Lexend-Medium.ttf');
}

@font-face {
  font-family: 'LexendExa';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/LexendExa-Medium.ttf');
}

*{
    margin: 0;
    padding: 0;
    font: "LexendExaMedium";
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
    top: 0;
    left: 0;
}

.intro {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

.introButton {
    font-size: 2em;
    color: rgb(66, 57, 57);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    text-align: center;

    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
}

.buttonStartGame{
  position: absolute;

  z-index: 100;
  width: 20%;
  height: auto;
  margin-top: 20%;
}

.logoArcania{
  width: 60%;
  mix-blend-mode: lighten;
  position: relative;
  margin-bottom: 10%;
  pointer-events: none;
}

.skipButton{
  position: absolute;
  top: 2%;
  right: 1%;

  width: 10%;
  height: auto;

  opacity: 0;

  animation: spawn 1s ease forwards;
  animation-delay: 2s;

  z-index: 1000;
}

.skipButton:hover{
  animation-fill-mode:none;
  opacity: 100%;
  cursor: pointer;
}

.waiting_connection_container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 988;
}

.videoIntro {
    z-index: 991;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.videoVersus {
    z-index: 989;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wizardDiv1 {
    width: 50%;
    height: 100%;
    z-index: 990;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    
}

.nameGaucheDiv {
    position: absolute;
    top: 4%;
    left: 55%;
    width: 32%;
    /* background-color: aquamarine; */
}

.nameGauche {
    height: 50px;
    width: max-content;
}

.nameDroiteDiv {
    position: absolute;
    bottom: 5%;
    right: 68%;
    width: 32%;
}

.nameDroite {
    height: 50px;
    width: max-content;
}

.playerName {
    position: absolute;
    top: 30%;
    width: 80%;
    text-align: center;
    /* color: red; */
    font-family: 'LexendExaMedium';
}

.wizardDiv2 {
    width: 50%;
    height: 100%;
    z-index: 990;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.User1 {
    z-index: 111;
    font-size: 50px;
    color: white;
    position: relative;
    text-align: center;
}

.User2 {
    z-index: 111;
    font-size: 50px;
    color: white;
    position: relative;
    text-align: center;
}

.wizard1 {
    z-index: 991;
    position: relative;
    width: max-content;
    height: 80vh;
    /* top: 20vh;
    left: 1vw; */
    /* display: none; */
    bottom: 0;
    left: 0;

    animation: screenInAnimationLeft 2s ease forwards;

}

.wizard2 {
    z-index: 991;
    position: relative;
    width: max-content;
    height: 80vh;
    /* top: 20vh;
    right: 1vw; */
    /* display: none; */
    bottom: 0;
    left: 0;

    animation: screenInAnimationRight 2s ease forwards;

}

.qrCode1{
    position: absolute;
    z-index: 990;
    width: 15%;
    top: 38%;
    left: 10%;

    animation: screenInAnimationLeft 2s ease forwards;
    animation-delay: 7s;
}

.qrCode2{
    position: absolute;
    z-index: 990;
    width: 15%;
    top: 38%;
    right: 10%;
    animation-delay: 7s;
    animation: screenInAnimationRight 2s ease forwards;
}

.screenOut{
    animation: screenOutAnimation 2s ease forwards;
}

.rulesVideo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    background-color: white;

    display: none;
}

.training_container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 800;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
}

.placementGame{
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 799;
  object-fit: cover;
}

.training_vid {
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Container_Spell {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.spell_reproduction {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.current_Spell {
    height: 90%;
    mix-blend-mode: luminosity;
}

.playerInfo {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-around;
    margin-top: 3%;
}

.player1 {
    width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: center;
}

.player2 {
    width: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: flex-end;
    justify-content: center;
}

.life1 {
    width: 50%;
    height: 100%;
}

.life2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.infoLife1 {
    width: 100%;
    height: 100%;
    background-color: red;
}

.infoLife2 {
    width: 100%;
    height: 100%;
    background-color: red;
}

.timerContainer{

    color: white;
    text-align: center;

    width: 150px;
    height: 150px;

    background-image: url("/medias/chrono/timer.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'LexendExaMedium';

}

.timer{
    font-size: 3vw;
    margin-top: 13%;
    font-family: "LexendExa";
    font-weight: 900;
}

.mana1 {
    width: 40%;
    height: 100%;
    margin-left: 5%;
}

.mana2 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.infoMana1 {
    width: 0%;
    height: 100%;
    background-color: rgb(59, 174, 212);;
}

.infoMana2 {
    width: 0%;
    height: 100%;
    background-color: rgb(59, 174, 212);;
}

.opacity{
    opacity: 20%;
    filter: grayscale(0.7);
}

.bar {
    position: absolute;
    height: 73px;
    transition: all 2s ease 0s;
}

.barMana{
    clip-path: polygon(0px 0px, 0% 0%, 0% 100%, 0% 100%);
}

video {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    /* mix-blend-mode: screen; */
}

.fadeOut{
    animation: .7s fadeOutAnimation;
    animation-fill-mode: forwards;
    /* opacity: 0; */
}

.flash{
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    background-color: white;
    display: none;
}

.endGameVideo{
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



  .datavizDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -11;
    background: linear-gradient(180deg, #301A34 0%, #130A15 100%);
    width: 100vw;
    height: 100vh;
    color: #FFFFFF;
    font-family: "Lexend";
    font-weight: 500;
  }


  .upStat {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .upStat img {
    height: 45%;
  }

  .middleStat {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .datavizIcon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 22vh;
    gap: 6%;
  }

  .datavizIcon img {
    height: 15%;
  }

  .playerStat {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    /* justify-content: center; */
  }

  .innerStat {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
  }

  .spellStatDiv {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
  }

  .barSpellStatDiv {
    width: 40%;
    height: 100%;
    clip-path: polygon(0% 0px, 100% 0%, 100% 100%, 10% 100%);
    background-color: #3F2843;
  }

  .numberStat {
    width: 10%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 40px;
    color: white;
    margin-right: 2%;
  }

  .numberStatReverse {
    margin-right: 0%;
    justify-content: flex-start;
    margin-left: 2%;
  }

  .previewBarSpellStatDiv {
    /* position: absolute; */
    width: 100%;
    height: 100%;
  }

  .red {
    background-color: #FF2E50;
  }

  .blue {
    background-color: #645CE6;

  }

  #fire1 {
    clip-path: polygon(90% 0px, 100% 0%, 100% 100%, 100% 100%);
    transition: all 2s ease;
  }

  #fire2 {
    clip-path: polygon(90% 0px, 100% 0%, 100% 100%, 100% 100%);
    transition: all 2s ease;
  }

  #water1 {
    clip-path: polygon(90% 0px, 100% 0%, 100% 100%, 100% 100%);
    transition: all 2s ease;
  }

  #water2 {
    clip-path: polygon(90% 0px, 100% 0%, 100% 100%, 100% 100%);
    transition: all 2s ease;
  }

  #nature1 {
    clip-path: polygon(90% 0px, 100% 0%, 100% 100%, 100% 100%);
    transition: all 2s ease;
  }

  #nature2 {
    clip-path: polygon(90% 0px, 100% 0%, 100% 100%, 100% 100%);
    transition: all 2s ease;
  }
  
  .reverseBarSpell {
    transform: scaleX(-1);
  }

  .dataBarSpellStatDiv {
    width: 100%;
    height: 100%;
  }

  .innerPlayer1 {
    width: 75%;
    margin-left: 15%;
    height: 80%;
    margin-right: 10%;
  }

  .innerPlayer2 {
    width: 75%;
    margin-left: 10%;
    height: 80%;
    margin-right: 15%;

  }

  .playerWizard {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .playerWizard img {
    height: 50%;
  }

  .playerNameDiv {
    background-color: #3F2843;
    height: 30%;
    width: 100%;  
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 30px;
  }

  .playerCollect {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
    gap: 16%;
  }

  .playerCollect h1 {
    font-size: 69px;
    font-family: 'LexendExa';
    font-weight: 500;
  }

  .manaCollect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .damageSend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .downStat {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 5%;
  }

  .downStat > p {
    font-size: 30px;
  }

  .ultimeCounter {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    gap: 12%;
    width: 20%;
  }

  .ultimeCounter img {
    height: 100%;
    width: max-content;
  }

  .ultimeCounter1 {
    color: #FF2E50;
  }

  .ultimeCounter2 {
    color: #645CE6;
  }